<style > .customSettings {
  background-color: red !important;
}
.redBorder {
  outline: none;
  border-color: #ff5050;
  box-shadow: 0 0 10px #ff5050;
}
.redBorderDropPSpec {
  outline: none;
  border-color: #ff5050;
  box-shadow: 0 0 10px #ff5050;
}
.greenBorder {
  outline: none;
  border-color: #33cc33;
  box-shadow: 0 0 10px #33cc33;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

body.NoScrolling {
  overflow: hidden;
}

.measureInput {
  border: 1px solid #ddd;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.Scrollable {
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 20%;
  top: 30%;
  margin-left: 0px;
  max-width: 50%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  /*border: 3px solid #2e6da4;
z-index: 9; */
}

/* Add styles to the form container */
.form-container {
  max-width: 100%;
  padding: 10px;
  background-color: white;
  /* border: 3px solid #2e6da4 !important; */
}

/* Full-width input fields */
.form-container input[type='text'],
.form-container input[type='password'] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: white;
}

/* When the inputs get focus, do something */
.form-container input[type='text']:focus,
.form-container input[type='password']:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  /*width: 100%; */
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
#parent-measurement {
  text-align: center;
}

.resultsClass {
  background-color: white;
  text-align: center;
}
.borderClass {
  border: 2px solid #2e6da4 !important;
  border-radius: 2px;
}

.copyTargetClass {
}

.tooltipTechDBMeasurement {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipTechDBMeasurement .tooltiptextTechDBMeasurement {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipTechDBMeasurement:hover .tooltiptextTechDBMeasurement {
  visibility: visible;
}
</style>